<%- include("partial/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="mb-3">
        <label for="postTitle" class="fw-bold">Title</label>
        <input type="text" class="form-control" name="postTitle" id="postTitle" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="postBody" class="fw-bold">Post</label>
        <textarea  class="form-control" name="postBody" id="postBody" rows="5" cols="30"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">publish</button>
</form>
<%- include("partial/footer") -%>
